@charset "UTF-8";
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, form, input, fieldset, legend, img, select {
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }

img {
  display: inline-block;
  border: 0;
  display: block; }

body {
  font-family: "微软雅黑";
  color: #2e2e2e;
  font-size: 12px;
  background: #f3f4f6; }

section, nav, header, footer, aside {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

strong, b {
  font-weight: normal; }

i, em {
  font-style: normal; }

.fl {
  float: left; }

.fr {
  float: right; }

.clear:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

.topnav {
  height: 30px;
  line-height: 30px;
  width: 1190px;
  margin: 0 auto;
  background-color: #f9f9f9; }

/* <!-- 通用主题栏 --> */
.menu {
  height: auto;
  position: relative;
  background-position: 0 -2px;
  background-image: url(../img/bg-head.jpg);
  background-repeat: no-repeat; }

/* 搜索栏 */
.nav-search {
  margin: 0 auto;
  width: 1190px;
  height: 125px; }

/* logobox */
.logobox {
  margin: 37px 0 0;
  width: 280px;
  height: 52px;
  float: left; }

.logobox a {
  display: block;
  width: 280px;
  height: 55px;
  background-position: -668px -3px; }

.navico {
  background-image: url(../img/navico.png);
  background-repeat: no-repeat; }

.soso {
  width: 522px;
  height: 51px;
  background-position: -999px 0;
  float: left;
  margin: 39px 65px 0 100px; }

.txt {
  width: 522px;
  height: 51px;
  background-position: -999px 0;
  position: relative; }

.txt input {
  float: left;
  margin: 1px 0 0 6px;
  width: 450px;
  padding: 14px 10px 15px 10px;
  height: 18px;
  line-height: 18px;
  border: none;
  color: #fff;
  font-size: 14px;
  background: none;
  outline: none; }

.txt input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff;
  font-size: 12px; }

.txt a {
  position: absolute;
  top: 2px;
  right: 0;
  z-index: 2;
  width: 49px;
  height: 46px;
  background-position: -1558px 0;
  text-indent: -9999px;
  display: block;
  cursor: pointer;
  border: none;
  outline: none; }

/* logogame */
.logogame {
  margin: 37px 0 0;
  width: 223px;
  height: 59px;
  float: left; }

.logogame a {
  width: 223px;
  height: 59px;
  background-position: -437px -5px;
  display: block; }

/* 主导航栏 */
.navindex {
  margin: 0 auto;
  width: 1190px;
  height: 76px;
  background-position: -275px -94px;
  background-repeat: no-repeat; }

/* 主导航栏左边 */
.navl {
  width: 940px;
  height: 76px;
  position: relative;
  float: left; }

.navl li {
  float: left;
  width: 134px;
  height: 76px;
  background-position: -28px -94px; }

.navl a {
  width: 134px;
  height: 76px;
  display: block;
  text-align: center;
  line-height: 76px;
  font-size: 18px;
  color: #9f9f9f;
  position: relative; }

.navsy a {
  font-weight: bold;
  color: #fef7ec;
  text-shadow: 1px 3px 3px #bf4d00; }

/* 购物车 */
.car {
  width: 192px;
  height: 76px;
  line-height: 76px;
  text-align: center;
  font-size: 18px;
  position: relative;
  float: right; }

.car a {
  width: 192px;
  color: #ff5900;
  text-indent: 18px; }

.car i {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 10;
  width: 60px;
  height: 76px;
  line-height: 76px;
  text-align: center;
  font-size: 18px;
  display: block;
  overflow: hidden;
  text-indent: 0;
  font-style: normal; }

.car span {
  position: absolute;
  top: 26px;
  left: 36px;
  z-index: 10;
  width: 28px;
  height: 24px;
  background-position: -237px -5px;
  display: block;
  text-indent: 18px; }

/* <!-- 子导航栏 --> */
.subnav {
  width: 1190px;
  margin: 0 auto;
  height: auto;
  background-color: #f3f4f6; }

.subnavlistbox {
  height: 54px;
  line-height: 54px;
  background-color: #e6e6e8; }

/* 全部分类 */
.subnavlistbox .sublistall {
  float: left;
  width: 152px; }

.subnavlistbox li {
  float: left;
  width: 118px; }

.subnavlistbox a {
  display: block;
  width: 118px;
  color: #000;
  font-size: 14px;
  text-align: center; }

.location-box {
  margin: 24px auto 8px;
  width: 1190px;
  color: #606060;
  height: 18px;
  position: relative;
  zoom: 1;
  cursor: pointer; }

.main {
  width: 1190px;
  margin: 0 auto; }

.sidebar {
  width: 228px; }

.sbcont {
  padding: 0 13px 0 0;
  background: #fafbfc;
  height: auto; }

.sbcont p {
  margin-left: 18px;
  font-size: 16px;
  color: #555;
  font-weight: bold;
  height: 47px;
  border-bottom: 2px solid #f3f4f6;
  line-height: 54px;
  text-indent: 6px;
  position: relative; }

.sbcont p .green-line {
  position: absolute;
  top: 47px;
  left: 0;
  z-index: 1;
  width: 80px;
  height: 2px;
  background-color: #36ab87;
  display: block; }

.mt10 {
  margin-top: 10px; }

.zbcont {
  margin-left: 20px;
  height: auto;
  width: 192px; }

.zbcont li {
  width: 192px;
  height: 262px;
  border-bottom: 1px dashed #e7e7e7; }

.zbcont li .link {
  margin-top: 14px;
  display: block;
  width: 192px;
  height: auto; }

.zbcont li .link img {
  border: 30px solid #fff;
  box-sizing: border-box;
  width: 192px;
  height: 184px; }

.zbcont li .link .linkp {
  width: 192px;
  height: 15px;
  font-size: 14px;
  font-weight: 100;
  color: #535353;
  line-height: 15px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 8px; }

.link b {
  margin-top: 8px;
  text-align: left;
  color: #ff5900;
  font-weight: bold;
  line-height: 14px;
  margin-left: 18px; }

.maincont {
  width: 952px; }

.goodsbox {
  background-color: #fafbfc;
  padding: 30px 0 14px; }

.djinfobox {
  margin-left: 58px;
  width: 888px;
  height: 360px; }

.goods-img {
  position: relative;
  width: 260px;
  height: 154px; }

.goods-img a {
  height: 28px;
  line-height: 28px;
  color: #9f9f9f;
  text-indent: 19px;
  background-image: url(../img/comico.png);
  background-repeat: no-repeat;
  background-position: -5px -521px;
  margin-left: 35%;
  position: absolute;
  bottom: -30px; }

.goods-img p {
  cursor: pointer;
  background-image: url(../img/comico.png);
  background-repeat: no-repeat;
  background-position: -5px -969px;
  width: 16px;
  height: 15px;
  position: absolute;
  bottom: -23px;
  right: 3px; }

.goodsbuy-box {
  width: auto;
  margin-left: 23px;
  text-indent: 15px;
  font-size: 14px; }

.goodsname {
  width: 450px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  color: #2e2e2e; }

.goodsname span {
  background-color: #ff5900;
  margin: 5px 0 0 6px;
  width: 44px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  color: #fffefe;
  border-radius: 4px;
  display: inline-block;
  text-indent: 0;
  font-weight: normal; }

.goods-bj {
  margin-top: 6px;
  width: 456px;
  height: 76px;
  background-position: -5px -143px;
  position: relative;
  background-image: url(../img/comico.png);
  background-repeat: no-repeat; }

.goods-bj del {
  line-height: 40px; }

.goods-price span {
  color: #ff5900;
  font-weight: 600;
  font-size: 24px; }

.longtime {
  height: 30px;
  padding-top: 18px; }

.addcar a {
  margin: 10px 9px 0 15px;
  display: block;
  float: left;
  width: 142px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background-color: #ff5900; }

.addcar a:nth-child(2) {
  background-color: #259afe; }

.goods-info-box {
  display: block;
  margin: 36px 20px 20px;
  background-color: #fafbfc;
  height: auto;
  border: 1px solid #ddd; }

.goods-info-box .comico {
  margin: 17px 0 0 75px;
  display: block;
  height: 20px;
  width: 705px;
  background-position: -5px -229px;
  position: relative;
  background-color: #fff;
  background-image: url(../img/comico.png);
  background-repeat: no-repeat; }

.comico a:nth-child(1) {
  position: absolute;
  z-index: 4;
  top: -7px;
  left: -70px;
  height: 20px;
  font-weight: bold;
  color: #222;
  font-size: 14px; }

.comico a:nth-child(2) {
  position: absolute;
  z-index: 4;
  top: -5px;
  right: -75px;
  height: 20px;
  color: #9f9f9f;
  display: block;
  width: 75px; }

.i-code {
  display: inline-block;
  width: 45px;
  height: 28px;
  right: -115px;
  top: -12px;
  background-image: url(../img/comico.png);
  background-repeat: no-repeat;
  background-position: -5px -347px;
  position: absolute; }

.dj-detail {
  width: 84%;
  padding: 30px 8% 0;
  height: auto;
  font-size: 14px;
  line-height: 22px; }

.goodstab {
  width: 84%;
  padding: 30px 8% 25px;
  height: auto;
  font-size: 14px;
  line-height: 22px; }

.goods_video {
  width: 480px;
  border: 0; }

.goods_video video {
  width: 100%;
  height: 100%;
  outline: none; }

.txp {
  font-size: 12px;
  position: relative;
  height: 50px; }

.txp .fl {
  width: 100%; }

.txp span {
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 11px;
  top: 7px;
  margin-right: 12px;
  background: url(../img/logo.svg); }

.txp p {
  max-width: 100%;
  padding: 0 190px 0 52px;
  overflow: hidden;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap; }

.txp .fr {
  color: #fff;
  height: 30px;
  padding: 0 22px;
  border-radius: 15px;
  background: #ff6428;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px; }

/* 底部 */
.foot {
  background-color: #3b3f4a;
  margin-top: 40px;
  min-width: 1280px; }

/* 返回顶部 */
.fixednav {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2000;
  margin: 0 20px 215px 0; }

.fixednav a {
  display: block;
  border: 1px solid #e1e1e1;
  background: #fff;
  width: 68px;
  padding: 7px 0;
  text-align: center;
  margin-top: 3px; }

.fixednav a span {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../img/bg.png);
  background-position: -122px -153px;
  background-repeat: no-repeat;
  margin: 0 auto; }

#hideimg {
  position: absolute;
  display: none;
  top: 250px;
  left: 277px;
  width: 804px;
  height: 532px;
  z-index: 10; }

#hideimg a {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block; }

/* 注册登录页面 */
.over {
  background-color: #e6f5ff;
  border-top: 1px solid #e6f5ff;
  position: absolute;
  height: 100%;
  z-index: 100001;
  width: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.7;
  display: none; }

/* 关闭按钮 */
#btnclose {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 0.8;
  font-size: 30px;
  right: 5px;
  text-align: center;
  line-height: 30px;
  top: 5px;
  border: none;
  outline: none; }

.registerin {
  display: none;
  height: 368px;
  width: 622px;
  border: 0px;
  padding: 0px;
  margin: 0px 0px 0px -311px;
  position: absolute;
  z-index: 100002;
  top: 250px;
  left: 50%;
  visibility: visible;
  background-color: #ffffff; }

.registerin p {
  text-align: center; }

.registerintop {
  position: relative;
  top: 50%;
  margin-top: -150px; }

.registerintop p:nth-child(1) {
  font-size: 20px;
  color: #333;
  margin-bottom: 16px; }

.registerintop p:nth-child(2) {
  font-size: 16px;
  color: #666;
  text-align: center;
  margin-bottom: 36px; }

.registerintop p:nth-child(2) a {
  color: #3481cf; }

#msg {
  font-size: #000;
  padding-left: 260px; }

#username, #userpass {
  display: block;
  width: 258px;
  height: 18px;
  border-radius: 4px;
  margin: 5px auto 10px;
  padding: 10px 0 10px 10px;
  line-height: 18px;
  border: 1px solid #9f9f9f;
  background: 0 0;
  color: #333;
  font-size: 16px;
  text-indent: 20px; }

#btnLogin {
  display: block;
  height: 40px;
  width: 270px;
  margin: 0 auto;
  font-weight: 400;
  padding: 10px 0 10px 10px;
  background-color: #86CE2F;
  font-size: 16px;
  color: #fff;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px; }

.registerinbot {
  height: 16px;
  margin-bottom: 8px;
  width: 100%;
  position: absolute;
  bottom: 8px;
  text-align: right;
  font-size: 12px; }

.registerinbot a {
  color: #000; }

#welcomeBox {
  display: none; }
